.form-video{
    display: flex;
    justify-content: center;
    margin: 10vh 10vh;
}

.form-video form{
    width: 75%;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
    border-radius: 20px;
    padding: 5vh 100px;

}

.form-video h2{
 font-weight: 400;
 font-size: 32px;
 color: #212121;
}
