footer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    box-sizing: content-box;
    background-size: cover;
    background-position: center;
    justify-content: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: #6278F7;
}

.social-media img{
    padding: 0px 15px;
    width: 2vh;
}

/*Filtered pixel, color applied through CSS filter
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(23deg) brightness(101%) contrast(100%);
*/

.social-media_icon{
    padding: 2vh;
}

.icon {
    width: 5vh;
}


.info-footer{
    font-size: 1.5vh;
}

.info-footer-container{
    display: flex;
    padding: 1.5vh;
    align-items: flex-end;
}